.board-cell-full {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  float: left;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.board-cell-empty {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: white;
}

.clearfix {
  clear: both;
}

.test div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.clearfix {
  clear: left;;
}
